.gold{
	padding-top: 10px;
	background-color: gold;
}
.purple{
	padding-top: 10px;
	background-color:purple;
	color: white;
}
.grey{
	padding-top: 10px;
    background-color: #565555;
	color: white;
}
.parallelImg{
	width: 100%;
    min-height: 450px;
    height: auto;
    object-fit: cover;
}

.fullHeightContainer{
	height: 100%;
}
.row>img{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.nb-caption{
	font-family: Georgia;
	font-size: 1 rem;
	color: darkgray;
}

.byline{
	font-family: Georgia;
	font-size: 1 rem;
	font-weight: bold;
	color: black;
}
figure{
	border: 0px solid black;
	margin-left: center;
	margin-right: center;
	padding: 0px;
	display:block;
}
.bottitle{
	padding-top: 10px;
}